
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Karla', sans-serif !important;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.6em;
}

p {
	font-family: 'Karla', sans-serif !important;
	font-weight: 400;
	line-height: 1.6em;
	font-size: 15px;	
}

ul li {
    font-family: 'Karla', sans-serif !important;
    line-height: 1.6em;
    font-size: 14px;
    color: #808080;
}

h2 {
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

.small {
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 600 !important;
}

.mb-1 {
	margin-bottom: 10px;
}

.mt-2 {
	margin-top: 20px;
}

.mt-3 {
	margin-top: 30px;
}

.btn-details {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
    color: #126E51;
    background: #c4ffec;
    border: 1px solid #38e4ae;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 20px;
}

.btn-apply {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;	
	margin-top: 20px;
    background: #ffe4e8;
    color: #EC1D3D;
    border: 1px solid #ffaeba;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
}

.btn-details:hover,
.btn-details:focus {
	background: #c4ffec;
	color: #126E51;
	box-shadow: 0 10px 10px rgb(146 132 134 / 15%);
}

.btn-apply:hover,
.btn-apply:focus {
	background: #ffe4e8;
	color: #EC1D3D;
	box-shadow: 0 10px 10px rgb(146 132 134 / 15%);
}

#career {
	margin-top: 40px;
	margin-bottom: 40px;
}

.career-custom-icon i {
    background: #ffd9de;
    color: #EC1D3D;
    font-size: 15px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
}

.details i {
    background: #ffd9de;
    color: #EC1D3D;
    font-size: 15px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
}

.position-block {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #F3F3F3;
	box-shadow: 0px 5px 15px 0px rgb(198 211 253 / 26%);
	padding: 20px;
}

.career-link a {
	color: #EC1D3D;
	text-decoration: none;	
}

#details {
	padding-top: 30px;
	padding-bottom: 30px;
}

.position-block.left {
	margin: -55px 0px 0px 0px;
	background: #fff;
	border-radius: 2px;
	padding: 30px;
}

.job-details {
    margin-top: 10px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.job-details-items {
	display: table-row;
}

.job-details-items-lists {
	display: table-cell;
	position: relative;
	width: 100px;
	min-width: 100px;
	border-collapse: separate;
	border-spacing: 0px 20px;
}

.job-details-items-lists h4 {
	margin: 0px;
}

.job-details-items-lists:after {
    content: ':';
    position: absolute;
    right: 0;
    top: 3px;
    margin-left: 10px;
    font-weight: bold;
}

.job-details-items-lists-value {
	font-family: 'Karla', sans-serif !important;
	color: #111;
	font-size: 16px;
	font-weight: 600;
    display: table-cell;
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.details ul li {
	color: #000;
}

.details a {
	color: #000;
}

.details a:hover,
.details a:focus {
	color: #EC1D3D;
	text-decoration: none;
}

#chefonline-career .nav-tabs > li > a {
	border-radius: 0px;
}

#chefonline-career .nav-tabs {
    border-bottom: 1px solid #eae8e8;
}

#chefonline-career .nav-tabs > li >a {
    color: #000;
    font-size: 18px;
}

#chefonline-career .nav-tabs > li >a:hover {
    color: #fff;
    background-color: #EC1D3D;
}

#chefonline-career .nav-tabs > li.active > a {
    color: #fff;
    cursor: default;
    background-color: #EC1D3D;
    border: 1px solid #EC1D3D;
    border-bottom-color: transparent;
}

#submit-application .form-control {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: 1px solid #cccc;
    box-shadow: none;
    border-radius: 2px;
}

.alert-success.done {
    margin-bottom: 0px;
}

.btn-close.btn-apply {
    margin-top: 0px;
}

.btn-close.btn-details {
    margin-top: 0px;
}

.modal-body.application-style {
    padding: 20px !important;
}

.application-label {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.application-label i {
    color: #EC1D3D;
    margin-right: 10px;
    font-size: 13px;
}

#mail-status {
    background: #dff0d8;
    border-color: #dff0d8;
    color: #1c541d;
    margin-bottom: 15px;
    border-radius: 2px;
}

#mail-status p {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.modal-submit-btn {
	width: auto !important;
	height: 40px !important;
}

@media screen and (max-width: 991px) {

    .position-block.left {
        margin-top: 0px;
    }

	#career {
		margin-top: 20px;
	}

	.mt-3.medium {
		margin-top: 0px;
	}

    .mt-2.medium {
        margin-top: 0px;
    }

}