
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}







*,
:after,
:before,
input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}








::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #f5f5f5
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5
}

::-moz-scrollbar {
    width: 6px;
    background-color: #f5f5f5
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f8f8f8
}










































































.index-start section.cfo-area {
    padding-top: 86px;
    padding-bottom: 20px;
}

